[submodule "HtsBackend"]
	path = HtsBackend
	url = git@github.com:NanoCAN/HtsBackend.git
	branch = master
[submodule "Rmiracle"]
	path = Rmiracle
	url = git@github.com:NanoCAN/Rmiracle.git
	branch = master
